* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Merriweather Sans', sans-serif;
}

:root {
    --card-background: #302F3D;
    --text-color: #837E9F;
    --background: #22212C;
    --image-border: #885fad;
    --white: #ffffff;
}

body {
    background-color: var(--background);
}

.card {
    background-color: var(--card-background);
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);    
    color: var(--text-color);
    padding: 30px;
    border-radius: 20px;
    margin-top: 20px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile > img {
    max-width: 128px;
    border: 2px solid var(--image-border);
    border-radius: 50%;
    margin-bottom: 30px;
}

.profile > h3 {
    font-size: 23px;
    line-height: 29px;
}

.profile > p {
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social {
    display: flex;
    align-items: center;
    gap: 20px;
}

.social > a {
    color: var(--text-color);
    font-size: 15px;
    text-decoration: none
}

.social > span {
    font-size: 15px;
}

.tecnologias {
    gap: 20px;
}

.tecnologia {    
    background: var(--image-border);
    text-align: center;
    width: 86px;
    height: 24px;
    border-radius: 30px;
    margin-top: 20px;
}

.tecnologia > span {
    color: #000000;
    font-size: 12px;
}

.educacao {
    margin-top: 20px;
}

.educacao > ul > li{
    align-items:flex-end;
    margin: 20px 0 0 40px;
}

.educacao > ul > li > p{
    font-size: 15px;
}

.projetos {
    justify-content: space-between;
}

.projetos > a {
    color: var(--text-color);
    font-size: 15px;
    text-decoration: none;
}

.meus-projetos {
    gap: 30px;
}

.projeto {
    width: 425px;
    height: 170px;
}

.cabecalho-projeto {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cabecalho-projeto > a {
    color: var(--text-color);
    font-size: 15px;
    text-decoration: none;
    margin-left: 10px;
    text-align: justify;
}

.projeto > p {
    font-size: 14px;
    margin: 22px 10px 0 30px;
}

.linguagem {
    margin-top: 8px;
    justify-content: flex-end;
    gap: 8px;
}

.linguagem > span {
    font-size: 14px;
}

.bolinha {
    box-sizing: border-box;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: 2px solid #837E9F;
}

.laranja {
    background: #eb8a0c;
}

.azul {
    background: #2a56a8;
}

.amarelo {
    background: #E7DE79;
}

.wrapper {
    padding: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

aside {
    grid-column: span 4;
}

main {
    grid-column: span 8;
}
